{% extends "layout.html" %}

{% load static %}

{% block main %} 
    <div class="">
		<div class="content-wrap">
            <div class="row"> 
                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
					<h1 class="">Account Active</h1>
                    <p>Your account is now active. You can now sign in with your email and password.</p>
    				<a class="button" href="{% url 'login' %}">Sign In</a>
    			</div>
            </div>
        </div>
    </div>
{% endblock %}