{% extends "layout.html" %}

{% block title %}Password Reset Confirm{% endblock %} 

{% load static widget_tweaks %}

{% block main %} 
<section class="container">
    <div class="row">
        <div class="col-xs-12 col-md-offset-4 col-md-4">
            <h1>Set your new password</h1>
            <form class="" role="form" action="" method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="non-field-errors">
                    {% for error in form.non_field_errors %}
                        <p class="form-error text-danger">{{ error }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %} has-error {% endif %}">
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="form-error pull-left text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        {% render_field field placeholder=field.label class+="form-control" %}
                    </div>
                {% endfor %}
                <p class="helptext">Please choose a strong password or passphrase. Your password must be at least 10 characters long and consist of letters, numbers and other special characters</p>
                <button type="submit" class="button button--primary">Reset</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
