{% extends "layout.html" %}

{% block title %}Password Reset Complete{% endblock %} 

{% load static %}

{% block main %} 
    <section class="container">
        <div class="col-xs-12 col-md-offset-4 col-md-4">
            <p>Your password was reset successfully. You can now sign in with your new password.</p>
            <div class="row text-center">
                <div class="margin-top-15">
                    <a class="button button--primary" href="{% url 'login' %}">Sign In</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
