{% extends "layout.html" %}

{% load static widget_tweaks %}

    {% block main %} 
        <section class="container">
            <h1>Register</h1>
            <form method="POST" action="" class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="non-field-errors">
                    {% for error in form.non_field_errors %}
                        <p class="form-error text-danger">{{ error }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %} has-error {% endif %}">
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <p class="form-error pull-left text-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}

                            {% if field.name == "terms" %}
                                <label for="terms">{{ form.terms }} I agree to the <a href="/terms-and-conditions" target="_blank">Terms &amp; Conditions</a></label>
                            {% else %}
                                <label for="{{ field.name }}">{{ field.label }}:</label>
                                {% if field.name == "nickname" %}
                                    {% render_field field class="form-control" %}
                                {% else %}
                                    {% render_field field placeholder=field.label class="form-control" %}
                                {% endif %}
                            {% endif %}

                        {% if field.name != "password1" %}
                            {% if field.help_text %}
                            <p class="helptext">{{ field.help_text|safe }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="row text-center">
                    <div class="margin-top-15">
                        <button class="button button--primary" type="submit">Register</button>
                    </div>
                </div>
            </form>
        </section>
    {% endblock %}
