Django==1.9.6
gunicorn==19.5.0
psycopg2==2.6.1
whitenoise==3.1
wsgiref==0.1.2
django-custom-user==0.6
django-registration-redux==1.4
dj-database-url==0.4.1
django-widget-tweaks==1.4.1               # Tweaks form field rendering in templates, not in Python
pytest==3.0.6
