$white-colour: #fff;
$off-white-colour: #f4f4f4;
$grey: #fafafa;
$black-colour: #000;
$lighter-black-colour: #444;

$salmon-pink: orange;
$nav-link-color: #3c3c3c;
$nav-link-visited-color: blue;


$ocd-blue-colour: #4cc1a7;
$ocd-dark-blue-colour: #1689b9;

// Headings


// Body Text
$body-text-colour: #000;



// Links
$link-colour: $ocd-blue-colour;
$link-active-colour: $ocd-dark-blue-colour;