@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900|Open+Sans:600,700,300');

$title-font-name: "Lato", sans-serif;
$base-font-name:  "Open Sans", sans-serif;
$base-font-size: 16px;

$title-font-family: $title-font-name;
$base-font-family: $base-font-name;

$header-margin: 1.25em;

/*------------------------------------*\
    # Type
\*------------------------------------*/

// Make type normal across browsers
*, html, body {
    font-size: $base-font-size;
    font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


// Headers
h1, h2, h3, h4, h5, h6 {
    color: $black-colour;
    font-family: $title-font-family;
    text-align: center;
}

.h1,
h1 {
    font-size: 1.95em;
    font-weight: 400;
}

.h2,
h2 {
    font-size: 1.8em;
    margin: $header-margin * 1.3 0 $header-margin 0;
    font-weight: 700;
}

.h3,
h3 {
    font-size: 1.5em;
    margin: $header-margin * 1.5 0 $header-margin 0;
    font-weight: 400;
}

.h4,
h4 {
    font-size: 1.3em;
    margin: $header-margin * 1.7 0 $header-margin 0;
    font-weight: 400;
}

.h5,
h5 {
    font-size: 1.2em;
    margin: $header-margin * 1.8 0 $header-margin 0;
    font-weight: 400;
}


// Paragraphs
.body-text,
p {

    margin: 30px 0 15px 0;
    font-size: 1em;
    line-height: 1.3em;
    color: $body-text-colour;
	font-family: $base-font-family;
	text-align: left;
	font-weight: 300;

    &:first-of-type {
        margin-top: 0;
    }
}



// Links
.a,
a {
    text-decoration: none;
    font-weight: 600;
    color: $link-colour;

    &:hover, &:focus {
        color: $link-active-colour;
        text-decoration: none;
    }
}

.helptext {
    font-style: italic;
    font-size: .8rem;
    font-color: $lighter-black-colour;
}

// Lists
ul, ol {
    margin: 30px 0 0 20px;

    li {
        margin-top: 10px;
        color: $body-text-colour;
        list-style: none;
    }

    ul, ol {
        margin-top: 0;
    }
}

strong,
b,
.bold {
    font-weight: 800;
}

.small {
    font-weight: 300;
    font-size: .9em;
}
