{% extends "layout.html" %}

{% block title %}Logout{% endblock %}

{% block panel_title %}Logout{% endblock %} 

{% load static %}

{% block main %}
    <section class="container">
        <form class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" role="form" action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <div class="text-align-center">
                <div class="row">
                    <h4>You are now logged out. Thank you and have a great day.</h4>
                </div>
                <a href="{% url 'login' %}" class="button button--primary">Log in again</a>
            </div>
        </form>
    </section>
{% endblock %}
