{% extends "layout.html" %}

{% load static %}
{% block title %}My Account{% endblock %}

{% block main %}

<section class="container">
    <h1 class="col-lg-12">My Account</h1>
    <div class="col-xs-12 col-md-6 col-md-offset-3">

        {% if deleted_user %}

        <div class="row">
            <h5 class="text-left font-bold">Your account is now deleted</h5>
            <p>You can <a href="{% url 'index' %}">return to the homepage</a>.
            </p>
        </div>

        {% else %}

        <div class="row">
            <h5 class="text-left font-bold">Your record is now deleted</h5>
            <p>You can return to the <a href="{% url 'challenge-list' %}">challenges page</a> to add new challenges.
            </p>
        </div>

        {% endif %}

    </div>
</section>



{% endblock %}
