{% extends "layout.html" %}

{% load static %}
{% block title %}My Account{% endblock %}

{% block main %}
<section class="container">
    <h1 class="col-lg-12">My Account</h1>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="row">
            <h5 class="text-left font-bold">Are you sure you want to delete your account?</h5>
            <p>Once deleted, you cannot recover your account.
            </p>
            <div class="margin-top-30">
                <a class="btn btn-lg btn-outline btn-danger" href="{% url 'delete-user' %}">Yes, delete my account</a>
            </div>
            <div class="margin-top-30">
                <a href="{% url 'my-account' %}">Cancel and go back to last page</a>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}
