{% extends "layout.html" %}

{% block title %}Password Reset{% endblock %} 

{% load static %}

{% block main %} 

 <section class="container">
    
    <h1>Password Reset</h1>

    <p>Please enter your email and we will send you password reset instructions.</p>

    <form class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" role="form" action="{% url 'password_reset' %}" method="POST">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="non-field-errors">
            {% for err in form.non_field_errors %}
              <p class="form-error text-danger">{{ err }}</p>
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form %}

        {{ field.errors }}

        <div>
            <input type="{{ field.name }}" class="form-control" placeholder="{{ field.label }}" required="" name="{{ field.html_name }}" id="{{ field.id_for_label }}">
        </div>

        {% endfor %}

        <button type="submit" class="button">Continue</button>
    </form>
</section>
{% endblock %}
