{% extends "layout.html" %}

{% block title %}Password Reset{% endblock %} 

{% load static %}

{% block main %} 

 <section class="container">
    
    <h1>Password Reset</h1>

    <p>Please enter your email and we will send you password reset instructions.</p>

    <form class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" role="form" action="{% url 'password_reset' %}" method="POST">
        {% csrf_token %}

        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="non-field-errors">
            {% for error in form.non_field_errors %}
                <p class="form-error text-danger">{{ error }}</p>
            {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
            <div class="form-group {% if field.errors %} has-error {% endif %}">
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="form-error pull-left text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {% render_field field placeholder=field.label class+="form-control" %}
            </div>
        {% endfor %}

        <button type="submit" class="button">Continue</button>
    </form>
</section>
{% endblock %}
