{% extends "layout.html" %}

{% block title %}Password Reset Complete{% endblock %} 

{% load static %}

{% block main %} 

    <p>Set your new password</p>
    <form class="" role="form" action="" method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="non-field-errors">
            {% for err in form.non_field_errors %}
                <p class="form-error">{{ err }}</p>
            {% endfor %}
            </div>
        {% endif %}
        {% for field in form %}
            <div class="">

                {% if field.errors %}
                    {% for err in field.errors %}
                        <p class="form-error pull-left text-danger">{{ err }}</p>
                    {% endfor %}
                {% endif %}
                <input type="{{ field.name }}" class="" placeholder="{{ field.label }}" required="" name="{{ field.html_name }}" id="{{ field.id_for_label }}">
            </div>
        {% endfor %}

        <button type="submit" class="">Reset</button>
    </form>
{% endblock %}
