{% extends "layout.html" %}

{% load static %}

    {% block main %} 
        <section class="container">
            <h1>Register</h1>
            <div class="row">
                <form method="POST" action="" class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row">
                        <div class="col-xs-12">
                            <label><input type="checkbox" name="terms" checked="checked"> I agree to the terms &amp; conditions</label>
                            <label><input type="checkbox" name="terms" checked="checked"> Sign me up for the newsletter</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <input class="button col-xs-4" type="submit" value="Register">
                        </div>
                    </div>
                </form>
            </div>
        </section>                  

    {% endblock %}
