{% extends "layout.html" %}

{% load static %}

    {% block main %} 
        
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.errors }}
                {{ form.username.errors }}
                <input type="text" name="username" placeholder="Userame *" required>
                {{ form.email.errors }}
                <input type="email" name="email" placeholder="Email *" required>
                {{ form.password1.errors }}
                {{ form.password1 }}
                {{ form.password2.errors }}
                {{ form.password2 }}
                <label><input type="checkbox" name="terms" checked="checked"> I agree to the terms &amp; conditions</label>
                <label><input type="checkbox" name="terms" checked="checked"> Sign me up for the newsletter</label>
                <input class="button" type="submit" value="Register">
            </form>
                                    

    {% endblock %}
