{% extends "layout.html" %}

{% load static %}

{% block main %} 

    <section>
 		<h1>Contact Us</h1>
        <div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
            <form method="POST" action="//formspree.io/info@ocdaction.org.uk">
                <div class="row">
                    <div class="col-xs-12">
                        <label for="email">Email: </label>
                        <input id="email" type="email" name="_replyto" placeholder="Your email">        
                        <label for="message">Message: </label>
                        <textarea name="message" placeholder="Your message" rows="15"></textarea>
                    </div>
                </div>
                <input class="button col-xs-4" type="submit" value="Send">
            </form>
        </div>
    </section> 
{% endblock %}
     