{% extends "layout.html" %}

{% load static %}

{% block main %}
    <section>
      	<h1>Terms & Conditions</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ac finibus ligula, at imperdiet nibh. Donec laoreet est vitae leo pulvinar, in porta risus viverra. Proin mollis diam sit amet lacus imperdiet ornare eu nec erat. Etiam semper lectus eget mi molestie hendrerit. Morbi vitae ornare odio. Phasellus vestibulum et ex bibendum commodo. Ut interdum egestas nisl at vestibulum. Suspendisse blandit lorem eros, feugiat consequat nibh vestibulum in. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis velit ante, pretium et arcu a, rutrum sodales sapien. Fusce vitae purus lacinia, laoreet enim at, consequat odio.</p>
    </section>
{% endblock %}