{% extends "layout.html" %}

{% load static %}

{% block main %}
    <section>
    	<div class="container">
	    	<div class="row">
		    	<div class="col-xs-12 col-md-8">
					<h1 class="h1">Think</h1>
					<div class="embed-responsive embed-responsive-4by3">
 	    				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/on_e5S--XW0"></iframe>
					</div>
					<h2 class="h2">What is OCD?</h2>

					<p>OCD stands for Obsessive Compulsive Disorder.</p>

					<p>Obsessions are thoughts, worries, images, impulses, doubts and urges that pop into your mind and it makes you feel anxious. They are not very nice and they are not wanted.</p>

					<p>Compulsions are actions or things we do; they can be things people can see you do or things you do in your head. They are usually done to make obsessions or anxiety go away.</p>

					<p>Everyone has unwanted thoughts that pop into their head or habits they like to do, but to have OCD the obsessions and compulsions take up more than an hour of your day and they cause distress or anxiety and they get in the way of the things that you would like to do or things your friends are doing.</p>

					<p>OCD is really common- in young people between 1-2% have it.</p>

					<div class="embed-responsive embed-responsive-4by3">
	    				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Mi_hPH2YEgc"></iframe>
					</div>
				</div>
			</div>
		</div>

    	<div class="container">
	    	<div class="row">
		    	<div class="col-xs-12 col-md-8">

					<h2 class= "h2">Why do we get anxious?</h2>

					<p>OCD stands for Obsessive Compulsive Disorder.</p>

					<p>Anxiety is a normal feeling that everyone has from time to time. When we feel anxious we usually get changes in our body to help us understand how we feel e.g. racing heart, shaking, feeling sick.</p>

					<p>Anxiety is a helpful emotion. Its helps us face up to real dangers. This response is known as the fight or flight response.</p>

					<p>Different kinds of situations and things cause us to feel anxious or worried. Some things cause us to feel more anxious that others. This app will help you rate the things that make you anxious.</p>

					<div class="embed-responsive embed-responsive-4by3">
	    				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Xhg6T1n5TmU"></iframe>
					</div>
				</div>
			</div>
		</div>

    	<div class="container">
	    	<div class="row">
		    	<div class="col-xs-12 col-md-8">
		    		<h2 class="h2">How does CBT work?</h2>

					<p>CBT stands for Cognitive Behaviour Therapy.  You should see a therapist to help you with CBT.</p>

					<p>To beat OCD, you need to a) understand anxiety and how it works, b) develop a list of the things that OCD makes you do and put them in order of what would make you least to most anxious (hierarchy) and c) do exposure with response prevention (ERP) tasks to fight OCD.</p>

					<p>This app is designed to help you do just that.</p>

					<p>By following those steps, you should then have a good relapse prevention plan when you have beaten OCD.</p>

					<div class="embed-responsive embed-responsive-4by3">
	    				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3f9vGBpe-0U"></iframe>
					</div>
					<p></p>
					<div class="embed-responsive embed-responsive-4by3">
	    				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nBiyYTcHdkI"></iframe>
					</div>
				</div>
			</div>
		</div>

    	<div class="container">
	    	<div class="row">
		    	<div class="col-xs-12 col-md-8">
		    		<h2 class="h2">What is ERP and why should I do it?</h2>

					<p>Exposure with response prevention (ERP) is the main tool to fight OCD.</p>

					<p>OCD makes us feel scared or uncomfortable and ‘tricks’ us into worrying or doing things we know may be silly or that we do not really want to do. To fight OCD, we have to face the situation that triggers the obsession (exposure) and then we resist doing the ritual (response prevention). We learn that when we expose ourselves to the trigger and do not do a ritual, at first we feel anxious, but the anxiety reduces over time (anxiety habituation).</p>

					<p>By doing ERP regularly - so by practicing facing your fears and resisting doing the rituals consistently - you will notice it will get easier to resist each time and anxiety will reduce each time you do it.</p> 

					<p>You will also learn that OCD is playing tricks by saying the obsession will come true if you don’t do the ritual…the only way to find this out is by not doing what OCD wants! </p> 

					<div class="embed-responsive embed-responsive-4by3">
	    				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6b_xony2du4"></iframe>
					</div>

					<div class="embed-responsive embed-responsive-4by3">
	    				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RZ0vk8jPU2E"></iframe>
					</div>
				</div>
			</div>
		</div>
		
    	<div class="container">
	    	<div class="row">
		    	<div class="col-xs-12 col-md-8">

					<h2 class="h2">Fighting Back</h2>

					<p>OCD is a severe but treatable condition and it is possible to get better. CBT with exposure and response prevention can help us get to a place where OCD is manageable and doesn’t stop us doing what we want to do.</p>

					<p>This app is designed to help with that process, by putting into practice all those things we learn with our CBT therapist. Let’s use this app to practice facing our fears and together we can beat OCD.</p>

					<div class="embed-responsive embed-responsive-4by3">
	    				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8T8KIKKpPaU"></iframe>
					</div>
				</div>
			</div>
		</div>
    </section>
{% endblock %}