@import 'partials/colours';
@import 'inspinia/inspinia';
@import 'partials/normalize';
@import 'partials/typography';
@import 'partials/helpers';

@import 'components/forms';
@import 'components/navigation';
@import 'components/footer';
@import 'components/partners';
@import 'components/hero';
@import 'components/contact-us';
@import 'components/menu';
@import 'components/custom-panel';
@import 'components/button';
@import 'components/ibox-custom';
@import 'components/video-container';
@import 'components/challenge-summary';


body {
	background: $white-colour;
	min-height: 100vh;
}

section {
	padding: 10em 0;
	clear: both;
}

.background-light {
	background-color: $white-colour;
}
.background-dark {
	background-color: $grey;
}
.container {
	max-width: 70em;
	margin: 0 auto;
}

.content__wrapper {
	flex: 1;
}

.errorlist {
	display: block !important;
}

img {
	max-width: 100%;
	display: block;
}