@import 'partials/normalize';
@import 'partials/colours';
@import 'partials/typography';
@import 'partials/helpers';

@import 'components/forms';
@import 'components/navigation';
@import 'components/footer';
@import 'components/partners';
@import 'components/hero';


body {
	background: $white-colour;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

section {
	padding: 4em 0;
	clear: both;
}

.background-light {
	background-color: $white-colour;
}
.background-dark {
	background-color: $grey;
}
.container {
	max-width: 70em;
	margin: 0 auto;
}

.content__wrapper {
	flex: 1;
}

.errorlist {
	display: block !important;
}
