{% extends "layout.html" %}

{% load static %}


{% block main %} 
	<section class="container">
	    <div class="row">
			<div class="col-xs-12">
				<h1> Welcome {{ user.username }}, this is the OCD App Dashboard </h1>
			</div>

			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<div class="col-xs-12 col-md-6 menu">
	                <i class="fa fa-mobile"></i>
	                <h2><a href="{% url 'think' %}" class="h2">Think</a></h2>
	                <p class="text-center">What is OCD? Why do we get anxious? Learn more about OCD.</p>
	            </div>
	            <div class="col-xs-12 col-md-6 menu">
	                <i class="fa fa-mobile"></i>
	                <h2><a href="{% url 'task-list' %}" class="h2">Act</a></h2>
	                <p class="text-center">Add a new task or pick a task to do now.</p>
	            </div>
            </div>
	    </div>
	</section>

{% endblock %}
