.footer {
	background: $lighter-black-colour;
	
	&__list {
		list-style: none;
		display: block;
		margin: 0;
		text-align: left;
		padding: 0;
	}

	&__category {
		text-align: left;
		color: $off-white-colour;
	}

	&__item {
		list-style: none;
		display: block;
		margin: 0;

		&:hover {
			color: $ocd-blue-colour;
		}
	}

	&__link {
		color: $off-white-colour;
		display: block;
		box-sizing: border-box;
		font-weight: 400;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

	}

	&__legal {
		text-align: center;
		color: $off-white-colour;
		margin: 30px 0;

		a {
			font-weight: 400;
			text-decoration: none;
		}

	}

}

