// =================================
//   LAYOUT / FORMS
// ================================= 


$input-txt-height: rem-calc(52);

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="tel"],
input[type="url"], 
select {
    width: 100%;
    height: $input-txt-height;
    margin: .5em 0;
	padding: 6px 8px;
    font-size: 1em;
    font-weight: 100;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

input[type="Submit"] {
    padding: 6px 8px;
}

textarea {
    width: 100%;
    margin: .5em 0;
	padding: .5em;
    font-size: 1em;
    font-weight: 100;
    text-align: left;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

label {
    display: block;
}

select {
	-webkit-appearance: none;
	background: url("http://garyjeffress.com/wp-content/themes/lms/framework/plugins/designthemes-core-features/page-builder/images/select-box-arrow.png") no-repeat right center;
	background-color: $white-colour;
	border-radius: 0;
    display: inline;
    width: auto;
    padding-right: 2rem;
}

.errorlist  {
    padding: 0;
    margin: 0;
    display: block;
    li {
        color: red;
        line-height: 1em;
        line-height: .6em;
        font-size: .7em;
        list-style: none;
    }
}

.errorlist + p > input {
    border: 1px red solid;
}

form {
    p {
        margin-top: 0;
    }
}

.button {
    margin: 0;
    background: $ocd-blue-colour;
    display: inline;
    text-decoration: uppercase;
    padding: 6px 8px;
    border: 0;
    color: $white-colour;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 1px 1px 1px 0px #339279;
    margin-bottom: 15px;
}

