.hero {
	position: relative;
	max-width: 75%;
	margin: auto;

	@media (min-width: 740px) {
		max-width: 90%;
	}
	
	&__img {
		width: 80%;
    	margin: 45px auto;
    	margin-top: 0;

    	@media (min-width: 400px) {
			display:block;
		}

    	@media (min-width: 480px) {
			width: 60%;
		}
		@media (min-width: 740px) {
			width: 80%;
			margin: 55px auto;
		}
	}

	&__overlay {
		position: absolute;
		bottom: 33%;
		
		@media (min-width: 480px) {
			bottom: 40%;
		}
	}
}

