.partners {
	display: flex;
	flex-direction: column;

	&__image {
		height: 3em;
		margin: 1em auto;
	}

	&__text {
		text-align: center;
		margin: 0;
		
		@media (min-width: 780px) {
			text-align: left;
			position: absolute;
			top: -18px;
		}
	}

	@media (min-width: 480px) {
		flex-direction: row;
    	align-items: center;
	}
}