{% extends "layout.html" %}

{% block title %}Anxiety Tracker{% endblock %} 

{% load static %}

{% block main %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-md-2">
                    <span class="backlink">
                        <a href="{% url 'challenge-list' %}">
                            <i class="margin-right-5 glyphicon glyphicon-menu-left"></i><span class="backlink__text">Back</span>
                        </a>
                    </span>
                </div>
                <h1 class="col-xs-offset-1 col-md-6">{{ challenge.challenge_name }}</h1>
            </div>
        </div>
        <div class="anxiety-tracker ibox-content text-center col-xs-12 col-md-4 col-md-offset-4">
            <h5 class="font-bold">Enter your anxiety level at each time</h5>
            <form method="POST">
                {% csrf_token %}
                {% for field in anxiety_score_form %}
                    {% if anxiety_score_form.anxiety_at_0_min.value %}
                        {% if field.value %}
                            {{ field.as_hidden }}
                            <p class="text-center">{{ field.label_tag }}<span>{{ field.value }}</span></p>
                        {% else %}
                            <fieldset>
                                {{ field.errors }}
                                {{ field.label_tag }}
                                <div class="btn-group" data-toggle="buttons">
                                    {% for radio in field|slice:"1:" %}
                                        {{ radio.tag }}  
                                        <label for="{{ radio.id_for_label }}" class="btn btn-white">
                                            {{ radio.choice_label }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <div class="row text-center">
                                <div class="col-xs-12">
                                    <button class="button button--primary" type="submit">Save</button>
                                </div>
                            </div> 
                        {% endif %}
                    {% else %}
                        {% if field.name == 'anxiety_at_0_min' %}
                        <fieldset>
                                {{ field.errors }}
                                {{ field.label_tag }}
                                <div class="btn-group" data-toggle="buttons">
                                    {% for radio in field %}
                                        {{ radio.tag }}
                                        <label for="{{ radio.id_for_label }}" class="btn btn-white">
                                            {{ radio.choice_label }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <div class="row text-center">
                                <div class="col-xs-12">
                                    <button class="button button--primary" type="submit">Save</button>
                                </div>
                             </div>
                        {% else %}
                            <fieldset disabled="disabled">
                                {{ field.errors }}
                                {{ field.label_tag }}
                                <div class="btn-group" data-toggle="buttons">
                                    {% for radio in field|slice:"1:" %}
                                        {{ radio.tag }}
                                        <label for="{{ radio.id_for_label }}" class="btn btn-white">
                                            {{ radio.choice_label }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </fieldset>
                            <div class="row text-center">
                                <div class="col-xs-12">
                                    <button class="button button--primary" type="submit" disabled>Save</button>
                                </div>
                            </div> 
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if anxiety_score_form.anxiety_at_120_min.value %}
                    <a class="btn btn-primary pull-left col-xs-4 col-xs-offset-5" href="{% url 'challenge-summary' challenge.pk anxiety_score_card.pk %}">Complete the Challenge</a>
                {% endif %}
            </form>
        </div>
    </section>
{% endblock %}
