{% extends "layout.html" %}

{% load static widget_tweaks %}

{% block main %}
	<section class="container">
	    <div class="row">
			<div class="col-xs-12">
				<h1> ACT </h1>
                <h2>Add new challenge</h2>
			</div>

            <form class="col-xs-6 col-xs-offset-3" method="POST" action="{% url 'challenge-add' %}">
                {% csrf_token %}
                {{ challenge_form.non_field_errors }}
                {{ challenge_form.as_p }}
                <div class="row">
                    <div class="col-xs-12">
                        <input class="button col-xs-4" type="submit" value="Save">
                    </div>
                </div>
            </form>
	    </div>
    </section>

{% endblock %}