{% extends "layout.html" %}

{% load static %}

    {% block main %}
        <section class="container">
            <div class="col-xs-offset-3">
                <a href="{% url 'challenge-list' %}">
                    <span class="glyphicon glyphicon-menu-left">Back</span>
                </a>
            </div>
            <h1>ACT</h1>
            <h2>Your anxiety levels for {{ challenge.challenge_name }}</h2>
                <ul class="col-xs-6 col-xs-offset-3">
                <li class="row">
                    <ul>
                        <li><p>After 0 min: {{ anxiety_score_card.anxiety_at_0_min }}<p></li>
                        <li><p>After 5 min: {{ anxiety_score_card.anxiety_at_5_min }}<p></li>
                        <li><p>After 10 min: {{ anxiety_score_card.anxiety_at_10_min }}<p></li>
                        <li><p>After 15 min: {{ anxiety_score_card.anxiety_at_15_min }}<p></li>
                        <li><p>After 30 min: {{ anxiety_score_card.anxiety_at_30_min }}<p></li>
                        <li><p>After 60 min: {{ anxiety_score_card.anxiety_at_60_min }}<p></li>
                        <li><p>After 120 min: {{ anxiety_score_card.anxiety_at_120_min }}<p></li>
                    </ul>
                </li>
                </ul>
        </section>
    {% endblock %}