{% extends "layout.html" %}

{% block title %}My Challenge Archive{% endblock %} 

{% load static %}
{% load challenges_tags %}

{% block main %}
    <section>
        <div class="container">
            <div class="col-lg-12">
                <h1>My Archive</h1>
            </div>        
        </div>
        
        {% if challenges_archived %}
                <div class="ibox float-e-margins">
                    <div class="ibox-title ibox-title--archive text-align-center">
                        <h3 class="display-inline">Archived</h3>
                    </div>
                    <div class="ibox-content ibox-content--archive border-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-8 col-md-offset-2 ol-xl-6 col-xl-offset-3">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="bold">Level</th>
                                                <th class="bold">Challenge</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for challenge in challenges_archived %}
                                            <tr>
                                                <td class="text-align-left col-xs-3">
                                                    {% get_anxiety_level challenge %}
                                                </td>
                                                <td class="text-align-left">
                                                    <a href="{% url 'challenge' challenge.id %}">
                                                        {{ challenge.challenge_name }}
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody> 
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
        {% else %}
    
            <div class="custom-panel background--archive text-align-center col-xs-12">
                <h2 class="h4 margin-top-0">No archived Challenges</h2>
            </div>

        {% endif %}

    </section>    
{% endblock %}
