{% extends "layout.html" %}

{% block title %}Anxiety Tracker{% endblock %} 

{% load static %}

{% block main %}
    <section>
        <div class="col-xs-offset-3">
            <a href="{% url 'challenge-list' %}">
                <span class="glyphicon glyphicon-menu-left">Back</span>
            </a>
        </div>
        <h1>Anxiety Tracker</h1>
        <form class="col-xs-6 col-xs-offset-3" method="POST">
            {% csrf_token %}
            <h3>{{ challenge.challenge_name }}</h3>
            {% for field in anxiety_score_form %}
                 {% if anxiety_score_form.anxiety_at_0_min.value %}
                     {% if field.value %}
                         {{ field.as_hidden }}
                         <p>{{ field.label_tag }} {{ field.value }}</p>
                     {% else %}
                         <div class="fieldWrapper">
                             {{ field.errors }}
                             {{ field.label_tag }}
                             {% for radio in field %}
                                 {{ radio.choice_label }}
                                 {{ radio.tag }}
                             {% endfor %}
                             <button class="btn btn-primary pull-left col-xs-4 col-xs-offset-8" type="submit">Save</button>
                         </div>
                     {% endif %}
                 {% else %}
                     {% if field.name == 'anxiety_at_0_min' %}
                         <div class="fieldWrapper">
                             {{ field.errors }}
                             {{ field.label_tag }}
                             {% for radio in field %}
                                 {{ radio.choice_label }}
                                 {{ radio.tag }}
                             {% endfor %}
                             <button class="btn btn-primary pull-left col-xs-4 col-xs-offset-8" type="submit">Save</button>
                         </div>
                     {% else %}
                         <div class="fieldWrapper">
                             <fieldset disabled="disabled">
                             {{ field.errors }}
                             {{ field.label_tag }}
                             {% for radio in field %}
                                 {{ radio.choice_label }}
                                 {{ radio.tag }}
                             {% endfor %}
                             </fieldset>
                             <button class="btn btn-primary pull-left col-xs-4 col-xs-offset-8" type="submit" disabled>Save</button>
                         </div>
                     {% endif %}
                 {% endif %}
            {% endfor %}

            {% if anxiety_score_form.anxiety_at_120_min.value %}
                <a class="btn btn-primary pull-left col-xs-4 col-xs-offset-5" href="{% url 'challenge-summary' challenge.pk anxiety_score_card.pk %}">Complete the Challenge</a>
            {% endif %}
        </form>
    </section>
{% endblock %}
