{% extends "layout.html" %}

{% block title %}Challenge Summary{% endblock %} 

{% load static %}
{% load challenges_tags %}

    {% block main %}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-2 col-md-2">
                       <span class="backlink">
                            <a href="{% url 'challenge-list' %}">
                                <i class="margin-right-5 glyphicon glyphicon-menu-left"></i><span class="backlink__text">Back</span>
                            </a>
                        </span>
                    </div>
                    <h1 class="col-xs-offset-1 col-md-6">{{ challenge.challenge_name }}</h1>
                </div>
            </div>
            <div class="challenge-summary ibox-content text-center col-xs-12 col-md-4 col-md-offset-4">
                <h3 class="font-bold margin-bottom-0">Congratulations!</h3>
                <p>You have tackled this exposure</p>
                <table class="challenge-summary--table">
                    <thead>
                        <tr>
                            <th></th>
                            <th><div>Most</div><div>recent</div></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Anxiety at 0min:</td>
                            {% for card in anxiety_score_cards %}
                                <td>{% render_anxiety_level card.anxiety_at_0_min %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Anxiety at 5min:</td>
                            {% for card in anxiety_score_cards %}
                                <td>{% render_anxiety_level card.anxiety_at_5_min %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Anxiety at 10min:</td>
                            {% for card in anxiety_score_cards %}
                                <td>{% render_anxiety_level card.anxiety_at_10_min %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Anxiety at 15min:</td>
                            {% for card in anxiety_score_cards %}
                                <td>{% render_anxiety_level card.anxiety_at_15_min %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Anxiety at 30min:</td>
                            {% for card in anxiety_score_cards %}
                                <td>{% render_anxiety_level card.anxiety_at_30_min %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Anxiety at 60min:</td>
                            {% for card in anxiety_score_cards %}
                                <td>{% render_anxiety_level card.anxiety_at_60_min %}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>Anxiety at 120min:</td>
                            {% for card in anxiety_score_cards %}
                                <td>{% render_anxiety_level card.anxiety_at_120_min %}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        <a class="button button--primary" href="">See how I did</a>
                    </div>
                </div>
            </div>
        </section>
    {% endblock %}
