{% extends "layout.html" %}

{% block title %}Challenge: {{ challenge.challenge_name }}{% endblock %} 

{% load static %}
{% load challenges_tags %}

{% block main %}
    <section class="container">
        <div class="col-xs-offset-3">
            {% if challenge.is_archived %}
                <a href="{% url 'challenge-list-archived' %}">
            {% else %}
                <a href="{% url 'challenge-list' %}">
            {% endif %}
                <span class="glyphicon glyphicon-menu-left">Back</span>
            </a>
        </div>
        <h1>{{ challenge.challenge_name }}</h1>
        <dl class="col-xs-12 col-md-6 col-md-offset-3">
            <dt>Your Obsession: </dt>
            <dd>{{ challenge.obsession }}</dd>
            <dt>Your Compulsion:</dt>
            <dd>{{ challenge.compulsion }}</dd>
            <dt>Your Exposure:</dt>
            <dd>{{ challenge.exposure }}</dd>
        </dl>

        {% if not challenge.is_archived %}            
            <div class="col-xs-6">
                <a class="btn btn-primary pull-right col-xs-2 col-xs-offset-1" 
                    href="{% url 'challenge-edit' challenge.id %}">
                    Edit
                </a>    
            </div>
            <div class="col-xs-6">
                <a class="btn btn-primary pull-left col-xs-2 col-xs-offset-1" 
                    href="{% url 'challenge-archive' challenge.id %}" onclick="return checkArchive()";>
                    Archive
                </a>
            </div>
        {% endif %}
    </section>

    {% if anxiety_score_cards %}
    <section>
        <ul class="col-xs-6 col-xs-offset-3">
            <h4>Your exposures for this challenge</h4>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th></th>
                        <th>Most recent</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Anxiety at 0 min:</td>
                        {% for card in anxiety_score_cards %}
                            <td>{% render_anxiety_level card.anxiety_at_0_min %}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Anxiety at 5 min:</td>
                        {% for card in anxiety_score_cards %}
                            <td>{% render_anxiety_level card.anxiety_at_5_min %}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Anxiety at 10 min:</td>
                        {% for card in anxiety_score_cards %}
                            <td>{% render_anxiety_level card.anxiety_at_10_min %}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Anxiety at 15 min:</td>
                        {% for card in anxiety_score_cards %}
                            <td>{% render_anxiety_level card.anxiety_at_15_min %}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Anxiety at 30 min:</td>
                        {% for card in anxiety_score_cards %}
                            <td>{% render_anxiety_level card.anxiety_at_30_min %}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Anxiety at 60 min:</td>
                        {% for card in anxiety_score_cards %}
                            <td>{% render_anxiety_level card.anxiety_at_60_min %}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Anxiety at 120 min:</td>
                        {% for card in anxiety_score_cards %}
                            <td>{% render_anxiety_level card.anxiety_at_120_min %}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </ul>
    </section>
    {% endif %}

    <script language="javascript">
        function checkArchive() {
            if (confirm("Are you sure you want to archive this challenge? Once archived you will not be able to reactivate it.")) {
                return true;
            } else {
                return false;
            }
        }
    </script>
{% endblock %}
