{% extends "layout.html" %}

{% load static %}

{% block main %}
    <section class="container">
        <h2>My Challenge Hierarchy</h2>
        <a class="btn btn-primary pull-left col-xs-2 col-xs-offset-5" href="{% url 'challenge-add' %}">
            <span class="fa fa-plus-square"></span> Add New Challenge
        </a>
        {% if challenges %}
            {% for challenge in challenges %}
                <ul class="col-xs-6 col-xs-offset-3">
                    <li class="row">
                        <a href="{% url 'challenge' challenge.id %}"><h3>{{ challenge.challenge_name }}</h3></a>
                        <a class="btn btn-primary pull-right col-xs-3" href="{% url 'challenge-score-form-new' challenge.id %}"> Do the challenge </a>
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <h2>You have no challenges yet!</h2>
        {% endif %}
    </section>    
{% endblock %}
