{% extends "layout.html" %}

{% block title %}Act: Add new challenge{% endblock %} 

{% load static widget_tweaks %}

{% block main %}
	<section class="container">
	    <div class="row">
            <div class="col-xs-offset-3">
                <a href="{% url 'challenge-list' %}">
                    <span class="glyphicon glyphicon-menu-left">Back</span>
                </a>
            </div>
			<div class="col-xs-12">
                <h1>Add new challenge</h1>
			</div>

            <form class="col-xs-6 col-xs-offset-3" method="POST" action="{% url 'challenge-add' %}">
                {% csrf_token %}
                {{ challenge_form.non_field_errors }}
                {{ challenge_form.as_p }}
                <div class="row">
                    <div class="col-xs-12">
                        <input class="button button--primary col-xs-4" type="submit" value="Save">
                    </div>
                </div>
            </form>
	    </div>
    </section>

{% endblock %}