{% extends "layout.html" %}

{% load static %}

{% block main %}
    <section class="container">
        <h2>{{ challenge.challenge_name }}</h2>
            <ul class="col-xs-6 col-xs-offset-3">
                <li><p>Fears: My challenge fears are {{ challenge.challenge_fears }}<p></li>
                <li><p>Goals: My challenge goals are {{ challenge.challenge_goals }}<p></li>
                <li><p>Compulsions: My challenge compulsions are {{ challenge.challenge_compulsions }}<p></li>
                <li>
                    <a class="btn btn-primary pull-right col-xs-2 col-xs-offset-1" 
                        href="{% url 'challenge-edit' challenge.id %}">
                        Edit
                    </a>    
                    <a class="btn btn-primary pull-left col-xs-2 col-xs-offset-1" 
                        href="{% url 'challenge-archive' challenge.id %}" onclick="return checkArchive()";>
                        Archive
                    </a>
                </li>
            </ul>
    </section>

    <script language="javascript">
        function checkArchive() {
            if (confirm("Are you sure you want to archive this challenge? Once archived you will not be able to reactivate it.")) {
                return true;
            } else {
                return false;
            }
        }
    </script>
{% endblock %}
