{% extends "layout.html" %}

{% load static %}

{% block main %}
    <section class="container">
        <h2>My Challenge Hierarchy</h2>
        <a class="btn btn-primary pull-left col-xs-2 col-xs-offset-5" href="{% url 'challenge-add' %}">
            <span class="fa fa-plus-square"></span> Add New Challenge
        </a>
        {% if challenges %}
            {% for challenge in sorted_challenges %}
                {% if challenge.in_progress %}
                <ul class="col-xs-6 col-xs-offset-3">
                    <h4>In progress</h4>
                    <li class="row">
                        Level:  {% if challenge.get_latest_initial_anxiety_level == -1 %}
                                    -
                                {% else %}
                                    {{ challenge.get_latest_initial_anxiety_level }}
                                {% endif %}
                        <a href="{% url 'challenge' challenge.id %}"><h3>{{ challenge.challenge_name }}</h3></a>
                        <a class="btn btn-primary pull-right col-xs-3" href="{% url 'challenge-score-form' challenge.id anxiety_score_card.id %}"> Do the challenge </a>
                    </li>
                    <hr>
                </ul>
                {% else %}
                    {% if another_challenge_in_progress %}
                        <ul class="col-xs-6 col-xs-offset-3">
                            <li class="row">
                                Level:  {% if challenge.get_latest_initial_anxiety_level == -1 %}
                                            -
                                        {% else %}
                                            {{ challenge.get_latest_initial_anxiety_level }}
                                        {% endif %}
                                <a href="{% url 'challenge' challenge.id %}"><h3>{{ challenge.challenge_name }}</h3></a>
                                <button class="btn btn-primary pull-right col-xs-3" disabled> Do the challenge </button>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="col-xs-6 col-xs-offset-3">
                            <li class="row">
                                Level:  {% if challenge.get_latest_initial_anxiety_level == -1 %}
                                            -
                                        {% else %}
                                            {{ challenge.get_latest_initial_anxiety_level }}
                                        {% endif %}
                                <a href="{% url 'challenge' challenge.id %}"><h3>{{ challenge.challenge_name }}</h3></a>
                                <a class="btn btn-primary pull-right col-xs-3" href="{% url 'challenge-score-form-new' challenge.id %}"> Do the challenge </a>
                            </li>
                        </ul>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>You have no challenges yet!</h2>
        {% endif %}
    </section>    
{% endblock %}
