{% extends "layout.html" %}

{% load static %}

{% block title %}My Challenge Hierarchy{% endblock %} 

{% load challenges_tags %}

{% block main %}
    <section>
        <div class="container">
            <div class="col-lg-12">
                <h1>My Challenge Hierarchy</h1>
            </div>
        </div>

        {% for challenge in sorted_challenges %}
            {% if challenge.in_progress %}
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-md-8 col-md-offset-2 ol-xl-6 col-xl-offset-3">
                                        <h3 class="text-align-center">In progress</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-content border-bottom">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-md-8 col-md-offset-2 ol-xl-6 col-xl-offset-3">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="ibox-content bold">Level</th>
                                                <th class="ibox-content bold">Challenge</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-align-left ibox-content col-xs-3">
                                                        {% get_anxiety_level challenge %}
                                                    </td>
                                                    <td class="text-align-left ibox-content">
                                                        <a href="{% url 'challenge' challenge.id %}">{{ challenge.challenge_name }}</a>
                                                    </td>
                                                    <td class="text-align-right ibox-content">
                                                        <a href="{% url 'challenge-score-form' challenge.id anxiety_score_card.id %}">
                                                            <span class="glyphicon glyphicon-play-circle margin-right-5"></span>
                                                            <span class="visuallyhidden">Continue</span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}
        
        {% if sorted_challenges %}
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-8 col-md-offset-2 ol-xl-6 col-xl-offset-3">
                                <div class="ibox-tools text-align-center">
                                    <h3 class="display-inline">My Challenges</h3>
                                    <a class="ibox-tools-cta" href="{% url 'challenge-add' %}">
                                        <span class="glyphicon glyphicon-plus-sign margin-right-5"></span>Add
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content border-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-8 col-md-offset-2 ol-xl-6 col-xl-offset-3">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="ibox-content bold">Level</th>
                                        <th class="ibox-content bold">Challenge</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for challenge in sorted_challenges %}
                                            {% if not challenge.in_progress %}
                                                <tr>
                                                    <td class="text-align-left ibox-content col-xs-3">
                                                        {% get_anxiety_level challenge %}
                                                    </td>
                                                    <td class="text-align-left ibox-content">
                                                        <a href="{% url 'challenge' challenge.id %}">
                                                            {{ challenge.challenge_name }}
                                                        </a>
                                                    </td>
                                                    <td class="ibox-content text-align-right">

                                                        {% if another_challenge_in_progress %}
                                                            <a class="link--disabled">
                                                                <span class="glyphicon glyphicon-play-circle margin-right-5"></span>
                                                                <span class="visuallyhidden">Do the challenge</span>
                                                            </a>
                                                        {% else %}
                                                            <a href="{% url 'challenge-score-form-new' challenge.id %}">
                                                                <span class="glyphicon glyphicon-play-circle margin-right-5"></span> 
                                                                <span class="visuallyhidden">Do the challenge</span>
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="custom-panel background--primary text-align-center col-xs-12">
                <h2 class="h4 margin-top-0">Add a new Challenge to get started</h2>
                <a class="button button--primary" href="{% url 'challenge-add' %}">Add</a>
            </div>
        {% endif %}
    </section>    
{% endblock %}