.footer {
	
	background: #3c3c3c;
	color: #f4f4f4;

	&__list {
		list-style: none;
		display: block;
		margin: 0;
	}

	&__category {
		text-align: right;
	}

	&__item {
		list-style: none;
		display: block;
		text-align: right;
		margin: 0;

		&:hover {
			color: $salmon-pink;
		}
	}

	&__link {
		text-transform: uppercase;
		color: $nav-link-color;
		display: block;
		box-sizing: border-box;

		&:hover {
			text-decoration: none;
		}

	}

	&__legal {
		text-align: center;
	}

}

