{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% load static %}

    {% block main %}
    <section class="background-light section--custom">
      <div class="container">
        <div clas="row">
          <div class="col-xs-12 col-md-7 background-light">
            <h1 class="visuallyhidden">The OCD Youth App</h1>
            <div class="hero">
              <img src="{{MEDIA_URL}}v1489778911/OCDyouth_banner_yccy6y.jpg"/>
              <div class="hero__overlay col-xs-8 col-xs-offset-1 col-sm-7">
                <img class="hero__img" src="{{MEDIA_URL}}v1489950737/Screen_Shot_2017-03-19_at_19.11.15_qolzax.png"/>
                <p>Designed with young people and clinicians to help you tackle obsessions and compulsions as part of your therapy.</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-5 background-dark">
            <form class="col-xs-12" role="form">
              <h2>Register</h2>
              <h3>We need to get some information from you first. Let's start with your email:</h3>
              <input type="email" name="email" class="form-class"/>
              <a href="{% url 'register' %}" class="button pull-right">Go!</a>
            </form>
          </div>
          <p class="col-xs-12 col-md-5 margin-top-15">Already a member? Please <a href="{% url 'login' %}">Login here</a></p>
        </div>
      </div>
    </section>
    <section class="background-dark">
      <div class="container">
        <div clas="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h2 class="text-center">About Us</h2>
            <p class="text-center">OCD Youth is a peer-led project supporting under 25s affected by Obsessive Compulsive Disorder. It is facilitated by OCD Action, the national charity for people affected by OCD in the UK, and is run by us - a group of young volunteers known as the Youth Advisory Panel (YAP).</p>

            <p class="text-center">Tackling OCD can be hard work, and sometimes you just need a helping hand to stay on track and keep your eyes on the prize. Facing your fears is always going to be difficult - no matter how gradual - but if you've had enough of OCD interfering in your life and have taken steps to seek support and treatment, this web app is for you.</p>

            <p class="text-center">Here at OCD Youth we've teamed up with specialist clinicians at South London and Maudsley Child and Adolescent OCD team, and an expert development team at Women Hack for Non-Profits to bring you a free web app that, alongside therapy, will help you manage your OCD. No more messing around with pieces of paper - do your exposure tasks on the go and keep track of your progress all in one place. You can do it!</p>
          </div>
        </div>
      </div>
    </section>
    <section class="background-light">
      <div class="container">
        <div class="row partners">
          <div class="col-xs-12 col-md-3 col-sm-4">
            <h3 class="partners__text">With thanks to:</h3> 
          </div>
          <div class="col-xs-12 col-sm-5">
            <img class="partners__image" src="{{ MEDIA_URL}}v1489960517/nhslogo_e7gh1s.jpg"/>
          </div>
          <div class="col-xs-12 col-sm-3">
            <img class="partners__image" src="{{ MEDIA_URL}}v1489960516/whfnplogo_kxgtip.svg"/>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
