{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

{% load static %}

    {% block main %}
    <section class="background-light">
      <div class="container">
        <div clas="row">
          <div class="intro col-xs-12 col-md-4 col-md-push-7">
              <h5 class="intro--text text-left">The OCD Youth app has been designed with young people and clinicians to help you tackle obsessions 
                and compulsions as part of your therapy.</h5>
                <div class="text-center">
              <a href="{% url 'register' %}" class="button button--primary-white text-center pull-left">Register</a>
              <div class="intro--span">or</div>
              <a href="{% url 'login' %}" class="button button--primary-white text-center pull-right">Login</a>
            </div>
            </div>
          <div class="col-xs-12 col-md-7 col-md-pull-4 background-light">
            <h1 class="visuallyhidden">The OCD Youth App</h1>
            <div class="hero">
              <img src="{{MEDIA_URL}}v1489778911/OCDyouth_banner_yccy6y.jpg"/>
              <div class="hero__overlay col-xs-8 col-xs-offset-1 col-sm-7">
                <img class="hero__img" src="{{MEDIA_URL}}v1489950737/Screen_Shot_2017-03-19_at_19.11.15_qolzax.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="background-dark">
      <div class="container">
        <div clas="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <h2 class="text-center margin-top-0">About Us</h2>
            <p class="text-center large">OCD Youth is a peer-led project supporting under 25s affected by Obsessive Compulsive Disorder. 
              It is facilitated by OCD Action, the national charity for people affected by OCD in the UK, and is run by us - a group 
              of young volunteers known as the Youth Advisory Panel (YAP).</p>

            <p class="text-center large">Tackling OCD can be hard work, and sometimes you just need a helping hand to stay on track 
              and keep your eyes on the prize. Facing your fears is always going to be difficult - no matter how gradual - but 
              if you've had enough of OCD interfering in your life and have taken steps to seek support and treatment, this web 
              app is for you.</p>

            <p class="text-center large">Here at OCD Youth we've teamed up with specialist clinicians at South London and 
              Maudsley Child and Adolescent OCD team, and an expert development team at Women Hack for Non-Profits to bring 
              you a free web app that, alongside therapy, will help you manage your OCD. No more messing around with pieces of 
              paper - do your exposure tasks on the go and keep track of your progress all in one place. You can do it!</p>
          </div>
        </div>
      </div>
    </section>
    <section class="background-light">
      <div class="container">
        <div class="row partners">
          <div class="col-xs-12 col-md-3 col-sm-4">
            <h3 class="partners__text">With thanks to:</h3> 
          </div>
          <div class="col-xs-12 col-sm-5">
            <img class="partners__image" src="{{ MEDIA_URL}}v1489960517/nhslogo_e7gh1s.jpg"/>
          </div>
          <div class="col-xs-12 col-sm-3">
            <img class="partners__image" src="{{ MEDIA_URL}}v1489960516/whfnplogo_kxgtip.svg"/>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
