{% extends 'base.html' %}
{% load static %}

{% block layout %}
	<div class="content__wrapper">
		<header class="header">
			<div class="header__wrapper container">
			    <a class="header__logo" href="/">
			    	<img src="http://res.cloudinary.com/ocd-action-app/image/upload/v1489950737/Screen_Shot_2017-03-19_at_19.11.15_qolzax.png" alt="OCD Action Logo Image">
			    </a>
				<nav class="header__nav js-header-nav">
				    <button class="header__nav-toggle js-nav-toggle"><span class="hidden">Menu</span></button>
				    <ul class="header__list js-header-list">
				        <li class="header__item">
				            <a class="header__link" href="{% url 'think' %}">Think</a>
				        </li>
				        <li class="header__item">
				            <a class="header__link" href="{% url 'task-list' %}">Act</a>
				        </li>
				        <li class="header__item">
				            <a class="header__link" href="{% url 'contact' %}">Contact</a>
				        </li>
				        {% if user.is_authenticated %}
					        <li class="header__item">
								<a href="{% url 'logout' %}">
									<i class="fa fa-sign-out"></i> Log out
								</a>
							</li>
				        {% else %}
					       	<li class="header__item">
					            <a class="header__link" href="{% url 'register' %}">Register</a>
					        </li>
					        <li class="header__item">
					            <a class="header__link" href="{% url 'login' %}">Login</a>
					        </li>
				        {% endif %}
				    </ul>
				</nav>
			</div>
		</header>
	    {% block main %}
	    {% endblock %}
	</div>

    <footer class="global-footer">
    	<div class="container">
	    	<div class="col-xs-6 col-sm-4">
	      		<h4 class="h5 global-footer__category text-uppercase">Sitemap</h4>
		    	<ul class="global-footer__list margin-top-0 ">
		        	<li class="global-footer__item"><a class="global-footer__link" href="{% url 'think' %}">Think</a></li>
		        	<li class="global-footer__item"><a class="global-footer__link" href="{% url 'task-list' %}">Act</a></li>
		        	<li class="global-footer__item"><a class="global-footer__link" href="{% url 'login' %}">Login</a></li>
		        	<li class="global-footer__item"><a class="global-footer__link" href="{% url 'register' %}">Register</a></li>
		        </ul>
		    </div>
	      <div class="col-xs-6 col-sm-4">
	      	<h4 class="h5 global-footer__category text-uppercase">Follow Us</h4>
		    <ul class="global-footer__list margin-top-0">
		      <li class="global-footer__item"><a class="global-footer__link" href="http://www.twitter.com/ocdyouth">Twitter</a></li>
		        <li class="global-footer__item"><a class="global-footer__link" href="http://www.facebook.com/ocdyouth">Facebook</a></li>
		        <li class="global-footer__item"><a class="global-footer__link" href="http://https://www.youtube.com/channel/UCcL4mogk_RCePzXZu9Tu-AA">YouTube</a></li>
		    </ul>
		  </div>
		  <div class="col-xs-12 col-sm-4">
	      	<h4 class="h5 global-footer__category text-uppercase">Contact</h4>
		    <ul class="global-footer__list margin-top-0">
		      <li class="global-footer__item"><a class="global-footer__link" href="mailto:youth@ocdaction.org.uk">youth@ocdaction.org.uk</a></li>
		        <li class="global-footer__item"><a class="global-footer__link" href="mailto:youthhelpline@ocdaction.org.uk">youthhelpline@ocdaction.org.uk</a></li>
		        <li class="global-footer__item"><a class="global-footer__link" href="mailto:info@ocdaction.org.uk">info@ocdaction.org.uk</a></li>
		    </ul>
		  </div>
	      <span class="global-footer__legal col-xs-12 small">Copyright &#xA9; OCD Youth. Created by <a href="http://www.womenhackfornonprofits.co.uk">Women Hack For Non-Profits 2016.</a></span>
	    </div>
    </footer>
{% endblock %}

